---
import YoutuberLanding from '@/components/YoutuberLanding';
import Layout from '../layouts/Layout.astro';
import '@/styles/globals.css';
---

<Layout title="Dot Dager" description="Full-stack senior y contador serial de chistes de mierda.">
	<main>
		<YoutuberLanding client:load />
	</main>
</Layout>

<style>
</style>
